// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// hosokawa

.timetable-grade{
    margin: 1.2rem 0 0 3rem;
}

.mypage-timetable{
    font-size: 1.2rem;
    width: 80%;
    margin: 1rem auto 1.5rem auto;
    table-layout: fixed;
    &-day{
        width: 15%;
        box-sizing: border-box;
        text-align: center;
        &:first-child{
            width: 10%;
        }
    }
    &-lessons{
        border-top: 1px solid #6c757d;
        border-bottom: 1px solid #6c757d;
    }
    &-lesson_number{
        width: 10%;
        box-sizing: border-box;
        text-align: center;
        border-right: 1px solid #6c757d;
    }
    &-lesson{
        width: 15%;
        box-sizing: border-box;
        text-align: center;
    }
}

.more_timetable_link{
    text-align: right;
    padding-right: 3rem;
    text-decoration: underline;
    a{
        color: #212529 !important;
    }
}